@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  height: 100vh;
  margin: 0;
}

.nav-link {
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
  color: blue;
}

.nav-link:hover {
  color: dodgerblue;
}

.back-link,
.nav {
  position: absolute;
  top: 1%;
  left: 1%;
}
